body
{
    background-color: #003366;
}

.container
{
    background-color: #FFF;
    width:1140px;
}

.left-pane
{

}

.areas
{
    list-style-type:none;

    li
    {
        float:left;
        width:32px;
        height:32px;
        border: solid 1px #ccc;
        margin-right:1px;
    }

    .selected
    {
        border:solid 1px #6666ff;
        width:30px;
        height:30px;
    }
}

#map-wrapper
{
    overflow: auto;
    margin:20px 25px;
    position: relative;
    height: 350px;
}

#map
{
    position:absolute;
    top:0;
    left: 0;
    border:solid 1px #ccc;
    float:left;
}

#map-table
{
    position:absolute;
    top:0;
    left:0;
    z-index:15;
    opacity: 0.7;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    float:left;

    .map-inner{
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        float: left;
        height: 31px;
        margin: 0;
        padding: 0;
        width: 31px;
    }
}