extends ../layout

block privateCss
    != html.jsLoader(['/js/angular.min.js','/js/index.js'])

block content

    .container

        .navbar
            .navbar-inner
                ul.nav
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="#") Maps
                        ul.dropdown-menu.menu
                            each map in model.files
                                li
                                    a
                                        !=map

                ul.nav.pull-right
                    li
                        a
                            i.icon-ok

        div
            include areaTypes


