extends ../layout


block content
    .container-fluid
        .row-fluid
            .span2
                ul.nav.nav-tabs.nav-stacked
                    li
                        a Test 1
                    li
                        a Test 2

            .span10
                span Right pane
