extends ../layout

block privateCss
    != html.jsLoader(['/js/angular.min.js','/js/index.js'])

block content
    .container(ng-controller="MapController")
        .navbar
            .navbar-inner
                ul.nav
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="#") Maps
                        ul.dropdown-menu.menu
                            li(ng-class='{active: map.isExisting == false}')
                                a(ng-click='newMap()') New Map
                            each map in model.files
                                mapId = map.toLowerCase().replace('.js','')
                                li(ng-class='{active :map.id.toLowerCase() == \''+ mapId +'\'}')
                                    a(ng-click='loadMap(\''+mapId+'\')')
                                        !=map

                .pull-right
                    a.btn.btn-primary(ng-disabled="form.$invalid",ng-click="save()")   Save

        div
            form.form-horizontal(novalidate, name="form")
                fieldset
                    .control-group
                        label.control-label Id
                        .controls
                            input#id(type="text",name="id",ng-model="map.id",required,
                            ng-readonly="map.isExisting")
                            .alert.alert-error(ng-show="form.id.$invalid")
                                | Id is invalid
                    .control-group
                        label.control-label Row
                        .controls
                            input#map-row(type="number", name="row", min="10", max="90", ng-model="map.row" )
                            .alert.alert-error(ng-show="form.row.$invalid")
                                | Row is invalid

                    .control-group
                        label.control-label Column
                        .controls
                            input#map-column(name="column", type="number",min="10", max="90", ng-model="map.column")
                            .alert.alert-error(ng-show="form.column.$invalid")
                                | Column is invalid
                    .control
                        label.control-label Filter
                        .controls
                            select#filter(ng-model='map.filter')
                                option(value='') Choose filter
                                each filter in model.filters
                                    option(value=filter)
                                        =filter

                    br

        div
            include areaTypes

        #map-wrapper
            canvas#map
            #map-table

