extends ../layout

block privateCss
    != html.jsLoader(['/js/angular.min.js','/js/index.js'])

block content
    .container(ng-controller="MapController")
        .navbar
            .navbar-inner
                ul.nav
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="#") Maps
                        ul.dropdown-menu.menu
                            li(ng-class='{active: map.isExisting == false}')
                                a(ng-click='newMap()') New Map
                            each map in model.files
                                mapId = map.toLowerCase().replace('.js','')
                                li(ng-class='{active :map.id.toLowerCase() == \''+ mapId +'\'}')
                                    a(ng-click='loadMap(\''+mapId+'\')')
                                        !=map

                ul.nav.pull-right
                    li
                        a   Save

        div
            form.form-horizontal
                fieldset
                    .control-group
                        label.control-label Id
                        .controls
                            input#name(type="text", id="id",ng-model="map.id",required, ng-readonly="map.isExisting")
                    .control-group
                        label.control-label Row
                        .controls
                            input#map-row(type="number", min="10", max="90", ng-model="map.row" )
                    .control-group
                        label.control-label Column
                        .controls
                            input#map-column(type="number",min="10", max="90", ng-model="map.column")

                    .control
                        label.control-label Filter
                        .controls
                            select#filter(ng-model='map.filter')
                                option(value='') Choose filter
                                each filter in model.filters
                                    option(value=filter)
                                        =filter

                    br

        div
            include areaTypes

        #map-wrapper
            canvas#map
            #map-table

